body.light {
    --bg-color: #94ccda;
    --text-color: #333333;
    --primary-color: #3b82f6;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: all 0.3s ease;
  }
  